In [ ]:
!apt install python3-tk ghostscript
!pip install "camelot-py[cv]"
import camelot

In [5]:
tables = camelot.read_pdf('table.pdf')
tables

In [12]:
tables[0].parsing_report

{'accuracy': 99.27, 'order': 1, 'page': 1, 'whitespace': 13.89}

In [7]:
tables[0].df

                       0  ...                                5
0  Disability \nCategory  ...
1                         ...               Time to \ncomplete
2                  Blind  ...                    1199 sec, n=1
3             Low Vision  ...  1716 sec, n=3 \n(1934 sec, n=2)
4              Dexterity  ...                  1672.1 sec, n=4
5               Mobility  ...                    1416 sec, n=3

[6 rows x 6 columns]

In [8]:
tables1 = camelot.read_pdf('table1.pdf')
tables1

In [11]:
tables1[0].parsing_report

{'accuracy': 100.0, 'order': 1, 'page': 1, 'whitespace': 0.0}

In [9]:
tables1[0].df

             0      1      2       3             4           5
0         Date   Open   High     Low  Close / Last      Volume
1   01/04/2017  62.48  62.75   62.12          62.3  21,325,140
2   01/03/2017  62.79  62.84  62.125         62.58  20,655,190
3   12/30/2016  62.96  62.99   62.03         62.14  25,575,720
4   12/29/2016  62.86   63.2   62.73          62.9  10,248,460
5   12/28/2016   63.4   63.4   62.83         62.99  14,348,340
6   12/27/2016  63.21  64.07   63.21         63.28  11,743,650
7   12/23/2016  63.45  63.54    62.8         63.24  12,399,540
8   12/22/2016  63.84   64.1  63.405         63.55  22,175,270
9   12/21/2016  63.43   63.7   63.12         63.54  17,084,370
10  12/20/2016  63.69   63.8  63.025         63.54  26,017,470
11  12/19/2016  62.56  63.77   62.42         63.62  34,318,500
12  12/16/2016  62.95  62.95  62.115          62.3  42,452,660

In [10]:
tables1[1].df

             0        1        2         3             4           5
0         Date     Open     High       Low  Close / Last      Volume
1   01/04/2017   117.55   119.66    117.29        118.69  19,594,560
2   01/03/2017   116.03   117.84    115.51        116.86  20,635,600
3   12/30/2016  116.595   116.83  114.7739        115.05  18,668,290
4   12/29/2016      117  117.531    116.06        116.35   9,925,082
5   12/28/2016   118.19   118.25    116.65        116.92  11,985,740
6   12/27/2016   116.96   118.68   116.864        118.01  12,034,590
7   12/23/2016      117   117.56     116.3        117.27  10,885,030
8   12/22/2016   118.86   118.99    116.93         117.4  16,226,770
9   12/21/2016   118.92    119.2    118.48        119.04  10,747,610
10  12/20/2016    119.5   119.77     118.8        119.09  13,673,570
11  12/19/2016   119.85   120.36    118.51        119.24  15,871,360
12  12/16/2016    120.9    121.5    119.27        119.87  25,316,220